.intro{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            margin: 20px;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            border-width: 3;
            overflow: hidden;


            img{
                margin-top: -170px;
                width: 100%;
            }
        }
    }

    .right{
        flex: 0.5;
    }
}